.heraldFlip-accessFlipContainer {
    position: fixed;
    bottom: 10vh;
    left: 75vw;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heraldFlip-accessButton {
    width: 30px;
    height: 30px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.heraldFlip-dialogFLipTop {
    display: flex;
    width: 100%;
}

.heraldFlip-typeContainer {
    width: 100%;
}

.heraldFlip-typeSelectButton.active {
    background-color: #666666;
    color: #fff;

}

.heraldFLip-dialogFlipBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 14;
}

.heraldFlip-dialogFlipBottomTop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

}

.heraldFlip-tokenStampLink {
    margin-left: auto;
}

.heraldFlip-dialogFlipBottomBot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heraldFlip-searchFlipTokenContainer {
    width: 100%;
    background-color: #d6d2cd;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.heraldFlip-searchFlipTokenInput {
    background-color: #d6d2cd;
    color: #333;
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    font-size: 14px;
}


.heraldFlip-addAssetTokenFlip {
    width: 30px;
    height: 30px;
    border: 2px #333 solid;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    color: #333;
}

.heraldFlip-dialogFlipMiddle {
    margin-top: 10px;
    padding-bottom: 30px;
}

.heraldFlip-flipTokenContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.heraldFlip-flipTokenImageContainer {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #363636;
    border: 2px solid #5a5a5a;
    z-index: 8;
    cursor: pointer;
}

.heraldFlip-flipTokenImage {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    z-index: 8;
    border-radius: 50%;
}

.heraldFlip-flipTokenName {
    font-size: 18px;
    font-weight: bold;
}
.heraldFlip-flipTokenActorName {
    font-size: 10px;
    color: #5a5a5a;
}

.heraldFlip-flipTokenTransform,
.heraldFlip-flipTokenActorChange {
    font-size: 14px;
    line-height: 20px;
    width: 80%;
    cursor: pointer;
}


.heraldFlip-flipDataRight {
    margin-left: auto;
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.heraldFlip-flipTokenAddonButton {
    color: rgb(124, 65, 17);
    cursor: pointer;
}

.heraldFlip-flipTokenEditButton {
    color: rgb(7, 183, 253);
    cursor: pointer;
}


.heraldFlip-flipTokenDeleteButton {
    color: red;
    cursor: pointer;
}


.heraldFlip-gridActorTokenFlip {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* Selalu 5 kolom */
    gap: 8px;
    margin-top: 8px;
}

.heraldFlip-selectActorTokenFlip {
    flex: 0 0 calc(20% - 8px);
    /* 5 per row */
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
}

.heraldFlip-selectActorTokenFlip.selected {
    border-color: #ff9800;
    box-shadow: 0 0 10px #ff9800;
}

.heraldFlip-imgActorTokenFlipWrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* square box */
    background: #333;
}

.heraldFlip-imgActorTokenFlipWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heraldFlip-labelActorTokenFlip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 10px;
    padding: 4px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.heraldFlip-selectActorTokenFlip:hover .heraldFlip-labelActorTokenFlip {
    opacity: 1;
}