.heraldFlip-accessFlipContainer {
    position: fixed;
    bottom: 10vh;
    left: 75vw;
    transform: translateX(-50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heraldFlip-accessButton {
    width: 30px;
    height: 30px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.heraldFlip-dialogFLipTop {
    display: flex;
    width: 100%;
}

.heraldFlip-typeContainer {
    width: 100%;
}

.heraldFlip-typeSelectButton {
    background-color: #121212;
    color: #fff;
    border: 1px solid #5a5a5a;
}

.heraldFlip-typeSelectButton.active {
    background-color: #333333;

}

.heraldFlip-flipDataMiddle {
    width: 100%;
}

.heraldFLip-dialogFlipBottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 14;
}

.heraldFlip-dialogFlipBottomTop {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;

}

.heraldFlip-tokenStampLink {
    margin-left: auto;
    position: relative;
    display: inline-block;
}

.heraldFlip-tokenStampTooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.heraldFlip-tokenStampLink:hover .heraldFlip-tokenStampTooltip {
    visibility: visible;
    opacity: 1;
}

.heraldFlip-dialogFlipBottomBot {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heraldFlip-searchFlipTokenContainer,
.heraldFlip-searchFlipAudioContainer,
.heraldFlip-searchFlipArtContainer {
    width: 100%;
    background-color: #121212;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.heraldFlip-searchFlipTokenInput,
.heraldFlip-searchFlipAudioInput,
.heraldFlip-searchFlipArtInput {
    background-color: #121212;
    color: white !important;
    border: 1px solid #5f5f5f;
    padding: 6px 10px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    font-size: 14px;
}

.heraldFlip-filterTokenFlip {
    width: 30px;
    height: 30px;
    border: 2px white solid;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    color: white;
}

.heraldFlip-addAssetFlipWrapper {
    position: relative;
    display: inline-block;
}

.heraldFlip-addAseetFlipTooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    z-index: 999;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.heraldFlip-addAssetFlipWrapper:hover .heraldFlip-addAseetFlipTooltip {
    visibility: visible;
    opacity: 1;
}


.heraldFlip-addAssetFlip {
    width: 30px;
    height: 30px;
    border: 2px white solid;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    cursor: pointer;
    color: white;
}


.heraldFlip-profileNameInput::placeholder {
    color: white;
    opacity: 1;
}

.heraldFlip-editProfileNameInput::placeholder {
    color: white;
    opacity: 1;
}

.heraldFlip-dialogFlipMiddle {
    margin-top: 10px;
    padding-bottom: 20%;
}

.heraldFlip-flipTokenContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.heraldFlip-flipTokenImageContainer {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #363636;
    border: 2px solid #5a5a5a;
    z-index: 8;
    cursor: pointer;
}

.heraldFlip-flipTokenImage {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    z-index: 8;
    border-radius: 50%;
}

.heraldFlip-flipTokenName {
    font-size: 18px;
    font-weight: bold;
}

.heraldFlip-flipTokenActorName {
    font-size: 10px;
    color: #b9b9b9;
}

.heraldFlip-flipTokenTransform,
.heraldFlip-flipTokenActorChange {
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    cursor: pointer;
    background-color: #121212;
    color: #fff;
    border: 1px solid #5a5a5a;
    text-align: center;
    padding: 2;
}

.heraldFlip-buttonWithTooltip {
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 8px;
    cursor: pointer;
    color: white;
}

.heraldFlip-transformHelpIcon, .heraldFlip-actorChangeHelpIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;

}

.heraldFlip-transformTooltip, .heraldFlip-actorChangeTooltip {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    font-size: 10px;
}

/* Tooltip khusus berdasarkan ikon hover */
.heraldFlip-transformHelpIcon:hover+.heraldFlip-transformTooltip {
    visibility: visible;
    opacity: 1;
}

.heraldFlip-actorChangeHelpIcon:hover+.heraldFlip-actorChangeTooltip {
    visibility: visible;
    opacity: 1;
}



.heraldFlip-flipDataRight {
    margin-left: auto;
    display: flex;
    gap: 10px;
    font-size: 16px;
}

.heraldFlip-flipTokenAddonButton {
    color: rgb(124, 65, 17);
    cursor: pointer;
}

.heraldFlip-flipTokenEditButton {
    color: rgb(7, 183, 253);
    cursor: pointer;
}

.heraldFlip-flipTokenOpsiContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.heraldFlip-flipTokenOpsiTooltip {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    font-size: 0.75rem;
}

.heraldFlip-flipTokenOpsiContainer:hover .heraldFlip-flipTokenOpsiTooltip {
    visibility: visible;
    opacity: 1;
}



.heraldFlip-flipTokenDeleteButton {
    color: red;
    cursor: pointer;
}


.heraldFlip-gridActorTokenFlip {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    margin-top: 8px;
}

.heraldFlip-selectActorTokenFlip {
    flex: 0 0 calc(20% - 8px);
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
}

.heraldFlip-selectActorTokenFlip.selected {
    border-color: #ff9800;
    box-shadow: 0 0 10px #ff9800;
}

.heraldFlip-imgActorTokenFlipWrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    background: #333;
}

.heraldFlip-imgActorTokenFlipWrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heraldFlip-labelActorTokenFlip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 10px;
    padding: 4px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.heraldFlip-selectActorTokenFlip:hover .heraldFlip-labelActorTokenFlip {
    opacity: 1;
}


.heraldFlip-filterTokenFlipContainer {
    position: absolute;
    bottom: 50%;
    right: 0;
    z-index: 14;
}

.heraldFlip-filterTokenFlipMenu {
    background-color: rgba(82, 82, 82, 0.9);
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}



/*************************************************************************************************************************************************/
/************************************************ AUDIO *****************************************************************************************/
/***********************************************************************************************************************************************/


.heraldFlip-audioNameInput::placeholder {
    color: white;
    opacity: 1;
}

.heraldFlip-audioThemeCategoryContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-top: 8px;
}

.heraldFlip-audioThemeCategoryContainer label {
    display: flex;
    align-items: center;
    gap: 5px;
    white-space: nowrap;
}

.heraldFlip-flipAudioContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center;
}

.heraldFlip-flipAudioImageContainer {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #363636;
    border: 2px solid #5a5a5a;
    z-index: 8;
    cursor: pointer;
}

.heraldFlip-flipAudioImage {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    z-index: 8;
    border-radius: 50%;
}

.heraldFlip-flipAudioName {
    font-size: 18px;
    font-weight: bold;
}

.heraldFlip-flipAudioActorName {
    font-size: 10px;
    color: #b9b9b9;
}

.heraldFlip-flipAudioTransform,
.heraldFlip-flipAudioActorChange {
    font-size: 14px;
    line-height: 20px;
    width: 50%;
    cursor: pointer;
    background-color: #121212;
    color: #fff;
    border: 1px solid #5a5a5a;
    text-align: center;
    padding: 2;
}


.heraldFlip-transformHelpIcon, .heraldFlip-actorChangeHelpIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
    color: white;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 12px;
    text-align: center;
    line-height: 16px;

}

.heraldFlip-transformTooltip, .heraldFlip-actorChangeTooltip {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    font-size: 10px;
}

/* Tooltip khusus berdasarkan ikon hover */
.heraldFlip-transformHelpIcon:hover+.heraldFlip-transformTooltip {
    visibility: visible;
    opacity: 1;
}

.heraldFlip-actorChangeHelpIcon:hover+.heraldFlip-actorChangeTooltip {
    visibility: visible;
    opacity: 1;
}



.heraldFlip-flipDataRight {
    margin-left: auto;
    display: flex;
    gap: 10px;
    font-size: 16px;
}


.heraldFlip-flipAudioEditButton {
    color: rgb(7, 183, 253);
    cursor: pointer;
}

.heraldFlip-flipAudioOpsiContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.heraldFlip-flipAudioOpsiTooltip {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    font-size: 0.75rem;
}

.heraldFlip-flipAudioOpsiContainer:hover .heraldFlip-flipAudioOpsiTooltip {
    visibility: visible;
    opacity: 1;
}



.heraldFlip-flipAudioDeleteButton {
    color: red;
    cursor: pointer;
}

.heraldFlip-toggleMp3IncludeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heraldFlip-toggleMp3IncludeContainer input[type="checkbox"] {
    display: none;
}

.heraldFlip-sliderIncludeMp3 {
    position: relative;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.heraldFlip-sliderIncludeMp3::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    top: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.heraldFlip-toggleMp3IncludeContainer input[type="checkbox"]:checked+.heraldFlip-sliderIncludeMp3 {
    background-color: #00afc1;
}

.heraldFlip-toggleMp3IncludeContainer input[type="checkbox"]:checked+.heraldFlip-sliderIncludeMp3::before {
    transform: translateX(20px);
}



/*************************************************************************************************************************************************/
/************************************************ ART *****************************************************************************************/
/***********************************************************************************************************************************************/
.heraldFlip-flipArtContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

.heraldFlip-flipArtTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.heraldFlip-flipArtImageContainer {
    position: relative;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #363636;
    border: 2px solid #5a5a5a;
    z-index: 8;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heraldFlip-flipArtImage {
    width: 99%;
    height: 99%;
    border: none;
    object-fit: cover;
    object-position: center;
    z-index: 8;
    border-radius: 50%;
}


.heraldFlip-artProfileName {
    text-align: center;
    font-size: 12px;
    color: white;
}